body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

form {
    display: inline-block;
}

input {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}